diff_classifier/__pycache__
*.csv
*.tif
diff_classifier/notebooks/.ipynb_checkpoints/*
*.cache
diff_classifier/tests/__pycache__
*-checkpoint.ipynb
*.pyc
*.egg-info
notebooks/cloudknot_docker*
*.swp
*.png
*.obj
notebooks/development/cloudknot_docker*
*cloudknot_docker*
